<h2>チーム情報入力</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class='form-text-wrap'>
    <label class="form-text">チーム名（必須）</label><br>
    <%= f.text_field :name, class:"input-default", autofocus: true, autocomplete: "name", placeholder:"例) 野球野郎" %>
  </div>

  <div class='form-text-wrap'>
    <label class="form-text">メールアドレス（必須）</label><br />
    <%= f.email_field :email, class:"input-default", autofocus: true, autocomplete: "email", placeholder:"PC・携帯どちらでも可" %>
  </div>

  <div class='form-text-wrap'>
    <label class="form-text">パスワード（必須）</label>
    <p class='info-text'>※英字と数字の両方を含めて設定してください※</p>
    <%= f.password_field :password, class:"input-default", autocomplete: "new-password", placeholder:"6文字以上の半角英数字" %>
  </div>

  <div class='form-text-wrap'>
    <label class="form-text">チーム名（必須）</label><br />
    <%= f.password_field :password_confirmation, class:"input-default", autocomplete: "new-password", placeholder:"同じパスワードを入力して下さい" %>
  </div>

  <div class="register-btn">
    <%= f.submit "チーム登録", class:"register-red-btn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
