<div class="games-main-index">
  <header class='top-page-header'>
    <div class="header-title">
      <h1 class='title'>BaseBall Score</h1>
    </div>
    <ul class='lists-right'>
      <% if team_signed_in? %>
        <%# チーム名を記載 %>
        <li class='login'><%= link_to current_team.name %></li>
        <li><%= link_to 'ログアウト', destroy_team_session_path, method: :delete, class: "sign-up" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_team_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_team_registration_path, class: 'sign-up' %></li>
      <% end %>
    </ul>
  </header>
  <div class= "main" >
    <ul class='lists-center'>
      <li><%= link_to '試合登録', new_game_path, class: "game-regster" %></li>
      <li><%= link_to '選手登録', new_member_path, class: 'player-regster' %></li>
    </ul>
  </div>
  <div class="bb-footer">
    <div class="copyright-name">
      COPYRIGHT &#169;bbscore  ALL RIGHTS RESERVED.
    </div>
  </div>
</div>