<div class="member-index-main">
  <h2 class="member-index-title">選手メンバー 一覧</h2>

  <table class="index-box">
    <thead>
      <tr class="member-index-label">
        <td class="member-number">背番号</td>
        <td class="member-index-grade">学年</td>
        <td class="member-index-last-name">姓名</td>
       <td class="member-index-first-name">名前</td>
       <td class="member-index-edit"></td>
        <td class="member-index-delete"></td>
      </tr>
    </thead>
   <% @members.each do |member| %>
   <tbody>
    <%# ここでチームメンバーの一覧を表示させるメソッドを使用（20名毎にページネーション） %>
      <tr class="member-index">
        <td class="member-number">
          <%= member.uniform_number %>
        </td>
        <td class="member-index-grade">
          <%= member.grade %>
        </td>
       <td class="member-index-last-name">
         <%= member.first_name %>
       </td>
       <td class="member-index-first-name">
         <%= member.last_name %>
       </td>
        <td class="btn-member-index-edit">
          <%= link_to '編集', edit_member_path(member.id)  %>
        </td>
       <td class="btn-member-index-delete">
         <%= link_to '削除', member_path(member.id), method: :delete %>
        </td>
      </tr>
     <%# ここでチームメンバーの一覧を表示させるメソッドを使用（20名毎にページネーション） %>
     <%# データ数２０でページネーション %>
    </tbody>
    <% end %>
  </table>
  <%= link_to 'TOPに戻る', root_path, class: 'btn-members-index' %>
</div>
